html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0
}

button {
    cursor: pointer;
}

* {
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    font-family: Noto Sans SC, PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif !important;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    background-color: #f6f6f6;
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

ul,
ol {
    list-style: none
}

img {
    border: none;
    vertical-align: middle;
    width: 100%
}

a {
    text-decoration: none;
    color: #232323
}

table {
    border-collapse: collapse;
    table-layout: auto
}

input,
textarea {
    outline: none;
    border: none
}

textarea {
    resize: none;
    overflow: auto
}

button {
    margin: 0;
    padding: 0;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    line-height: inherit;
    width: max-content;
    border: none
}

button:after {
    border: none
}

button:focus {
    border: none;
    outline: none
}

iframe {
    border: none
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.clr {
    clear: both
}

.flex {
    display: flex
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.left {
    float: left
}

.right {
    float: right
}

.mr {
    margin-right: 20px
}

.ml {
    margin-left: 20px
}

:root {
    --primary-color: #6464fd;
    --secondary-color: #fe2e2e;
    --background-color: #ffe8e7;
    --general-text: #252525;
    --white: #ffffff;
    --soft-white: #fafafa;
    --section-border: #f4f4f4
}

.header-inner {
    height: 60px;
    margin: 0 auto 20px;
    background: #fff;
    line-height: 60px
}

.header-inner .header {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto
}

.header-inner .logo img {
    width: 100px;
    margin-right: 10px
}

.header-inner .logo span {
    font-size: 18px;
    padding: 0 10px;
    border-left: 1px solid #333;
    color: #000
}

.header-inner .top-menu {
    display: inline-block;
    margin-right: 60px
}

.header-inner .top-menu .top-menu-item {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    color: #000
}

.header-inner .top-menu .tool-menu-item {
    position: relative;
    width: 120px;
    text-align: center
}

.tool-menu-item .child-menu {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 6px 5px 1px #0000000f;
    top: 60px;
    width: 120px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0 0 5px 5px
}

.header-inner .top-menu .tool-menu-item:hover {
    color: var(--primary-color)
}

.header-inner .top-menu .tool-menu-item:hover .child-menu {
    display: block;
    padding-bottom: 16px
}

.tool-menu-item .child-menu div {
    line-height: 36px;
    font-size: 14px
}

.tool-menu-item .child-menu div:hover a {
    color: var(--primary-color) !important
}

.header-inner .userinfo {
    display: inline-block
}

.header-inner .userinfo span {
    padding: 0 5px;
    font-size: 16px;
    color: #000
}

.header-inner .userinfo #gologin,
.header-inner .userinfo .username {
    border-right: 1px solid #666
}

.top-menu-item:visited {
    color: var(--primary-color)
}

a.top-menu-item:hover {
    color: var(--primary-color) !important
}

section .card-main {
    width: 1140px;
    height: auto;
    margin: 0 auto 20px;
    padding: 1rem 1.75rem;
    border-radius: 20px;
    background: #fff
}

.card-main .card-head {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 20px
}

.card-head .card-head-title {
    font-size: 24px;
    font-weight: 700;
    color: #333
}

.card-head .card-head-desc {
    font-size: 14px;
    margin-left: 10px;
    color: #666
}

.search-main {
    text-align: center;
    width: 600px;
    margin: 50px auto
}

.search-select {
    text-align: left;
    margin-left: 5px
}

.search-select span {
    display: inline-block;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px 5px 0 0;
    color: #333
}

.search-select span.active {
    background: var(--primary-color);
    color: #fff
}

.search-box {
    height: 42px;
    line-height: 42px;
    background: #fff;
    border-radius: 19px
}

.search-input {
    width: calc(100% - 120px);
    float: left;
    display: inline-block;
    vertical-align: middle;
    height: 42px;
    border: 1px solid var(--primary-color);
    border-radius: 5px 0 0 5px;
    padding: 10px 15px
}

.search-btn {
    width: 120px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    background: var(--primary-color);
    color: var(--white);
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center
}

.card-head .sort {
    display: inline-block;
    width: 60px;
    font-size: 14px;
    color: #000;
    text-align: center;
    padding: 0 10px
}

.card-head .sort:hover {
    border-bottom: 1px solid var(--primary-color)
}

.card-head .sort.active {
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color)
}

.prod-list {
    width: 100%
}

.prod-list .goods-card {
    width: 23%;
    float: left;
    margin: 0 1%
}

.goods-card .goods-item {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #f6f6f6;
    border-radius: 5px
}

.goods-card .goods-item:hover {
    box-shadow: 0 0 14px 14px #d1d1d138
}

.goods-item .main-img {
    width: 100%;
    margin-bottom: 10px;
    height: 207px
}

.goods-item .goods-card-title {
    font-size: 14px;
    color: #000;
    height: 44px;
    line-height: 22px;
    margin-bottom: 10px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box
}

.goods-card-title img {
    width: 14px;
    font-size: 14px;
    vertical-align: middle
}

.goods-card-title span {
    vertical-align: middle;
    padding-left: 3px
}

.goods-item .goods-card-tags {
    min-height: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 9px
}

.goods-card-tags .tag {
    height: 20px;
    background: #ffe8e7;
    border-radius: 2px;
    padding: 0 8px;
    font-size: 12px;
    color: #ff2828;
    line-height: 20px;
    margin-right: 5px
}

.goods-item .goods-card-price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 38PX;
    line-height: 38px;
    margin-top: 10px
}

.price-info {
    display: inline-block;
    line-height: 38px;
    vertical-align: middle;
    height: 38px
}

.prodinfo-item .curr,
.goods-card-price .curr {
    font-size: 18px;
    color: #fe2e2e;
    font-weight: 400
}

.prodinfo-item .price,
.goods-card-price .price {
    font-size: 28px;
    color: #fe2e2e;
    font-weight: 700
}

.goods-card-price .sale {
    display: flex;
    font-size: 14px;
    color: #ababab;
    height: 38px
}

#login {
    position: fixed;
    width: 420px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 60px #ced0d385;
    border-radius: 10px;
    padding: 30px 60px;
    border: 1px solid #f1f1f1;
    z-index: 1000
}

#login .login-main {
    position: relative
}

.login-main span.close {
    position: absolute;
    top: -37px;
    right: -67px;
    font-size: 18px;
    background: #35353529;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: #fff
}

#login .login-head {
    font-size: 24px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px
}

.login-form-inline {
    font-size: 13px;
    margin-bottom: 20px;
    width: 100%
}

.login-form:last-child {
    margin-bottom: 0
}

.login-form-input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 48px;
    line-height: 46px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%
}

.login-code {
    height: 48px;
    margin-left: 10px;
    width: 140px
}

.login-btn {
    border-radius: 4px;
    height: 48px;
    line-height: 48px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    background: #6464fd;
    color: #fff;
    border: none
}

.login-btn:focus {
    border: none;
    outline: none
}

.login-auto-input {
    cursor: pointer;
    outline: 0;
    line-height: 19px;
    vertical-align: middle
}

.login-auto-input .auto-check {
    display: inline-block;
    position: relative;
    border: 1px solid #DCDFE6;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    background-color: #fff;
    z-index: 1;
    -webkit-transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46);
    transition: border-color .25s cubic-bezier(.71, -.46, .29, 1.46), background-color .25s cubic-bezier(.71, -.46, .29, 1.46)
}

.login-auto-input .auto-check::hover {
    border: 1px solid #6464fd
}

.login-auto-input .login-form-check {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    outline: 0;
    width: 14px;
    height: 14px
}

.login-auto-input .auto-check:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    border: 1px solid #FFF;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 4px;
    position: absolute;
    top: 1px;
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    width: 3px;
    -webkit-transition: -webkit-transform .15s ease-in .05s;
    transition: -webkit-transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s;
    transition: transform .15s ease-in .05s, -webkit-transform .15s ease-in .05s;
    -webkit-transform-origin: center;
    transform-origin: center
}

.login-auto-input.ischeck .auto-check:after {
    -webkit-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1)
}

.login-auto-input.ischeck .auto-check {
    border: 1px solid #6464fd;
    background-color: #6464fd
}

.login-auto-text {
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    margin-left: 5px
}

.waimai-item {
    width: 50%;
    height: 150px;
    display: inline-block;
    float: left;
    margin-bottom: 40px
}

.waimai-item:last-child {
    margin-bottom: 20px
}

.waimai-item-img {
    vertical-align: top;
    height: 150px;
    width: 150px
}

.waimai-item-right {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 350px
}

.waimai-item-title {
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px
}

.waimai-item-info {
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 5px;
    color: #666
}

.waimai-item-info span {
    color: #000
}

.admin-table-default ::-webkit-scrollbar {
    height: 6px;
    width: 0px
}

.wenku-container {
    max-width: 880px;
    margin: 100px auto 50px
}

.wenku-container input {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 10px
}

.wenku-container .input {
    font-size: 14px;
    width: 100%;
    height: 48px;
    margin: 0 auto
}

.wenku-container .notice {
    color: red;
    line-height: 32px;
    font-size: 16px;
    font-weight: 700
}

.wenku-container .input input {
    height: 48px;
    width: 80%;
    box-sizing: border-box;
    float: left
}

.wenku-container .input textarea {
    width: 100%;
    box-sizing: border-box;
    float: left
}

.wenku-container textarea {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding: 10px
}

.wenku-container .input button {
    height: 48px;
    padding: 10px;
    width: 20%;
    box-sizing: border-box;
    float: left;
    border-radius: 0 5px 5px 0;
    background-color: #6464fd;
    font-size: 18px;
    color: #fff
}

.wenku-container .docsinfo {
    margin-top: 28px;
    font-size: 14px
}

.wenku-container .docsinfo .item {
    line-height: 28px;
    margin-bottom: 10px
}

.wenku-container .item .item-title {
    font-weight: 700
}

.wenku-container .item .item-info {
    padding: 0 10px
}

.wenku-container .downline {
    height: 38px;
    line-height: 38px;
    font-size: 14px
}

.wenku-container .downline .item-title {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    font-weight: 700
}

.downline .input-inline {
    display: flex;
    float: left
}

.wenku-container .input-inline input {
    width: 80px
}

.wenku-container .downbtn {
    float: right;
    background: #6464fd;
    color: #fff;
    padding: 0 30px;
    border-radius: 3px
}

.wenku-container button:disabled {
    background: #d2d2d2
}

.s-top {
    padding: 20px 0;
    display: none
}

.s-top-message {
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2000
}

.s-top-verifycode {
    text-align: center;
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: 1999;
    width: 320px;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 0 30px 6px #d7d7d78a;
    border-radius: 8px;
    padding: 20px
}

.s-message {
    background-color: #000a;
    color: #fff;
    padding: 8px 14px;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    display: inline-block
}

.show {
    display: block
}

.s-panel {
    background: #fff;
    border-radius: 12px
}

.s-progress-wrapper {
    height: 24px;
    border-radius: 12px;
    width: 100%;
    background-color: #eeeff3;
    overflow: hidden;
    margin-bottom: 12px
}

.s-progress {
    background-color: #6464fd;
    height: 24px;
    width: 0;
    color: #FFF !important;
    font-weight: bold;
    line-height: 24px;
    padding-left: 10px;
    transition: width .2s ease
}

.s-status {
    display: flex;
    font-size: 14px
}

.s-text {
    flex-grow: 1;
    color: #5f5f5f
}

.s-progress-text {
    color: #6464fd;
    font-weight: 700
}

.verify-item {
    display: flex;
    justify-content: space-around;
    height: 38px;
    line-height: 38px;
    font-size: 14px
}

.verify-item .item-title {
    font-size: 14px;
    font-weight: 700;
    display: inline-block
}

.verify-item .input-inline {
    font-size: 14px;
    display: inline-block
}

.s-top-verifycode .tips {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px
}

.s-top-verifycode img {
    width: 180px;
    height: 180px;
    margin-bottom: 10px
}

.s-top-verifycode button {
    margin: 20px 10px 0;
    height: 38px;
    line-height: 38px;
    background: #6464fd;
    color: #fff;
    padding: 0 30px;
    border-radius: 3px
}

body {
    display: flex;
    flex-direction: column
}

section {
    flex: 1 0 auto
}

header {
    height: 80px
}

.footer-content {
    flex-shrink: 0;
    text-align: center;
    padding: 10px 0 20px
}

.mask {
    position: relative
}

.mask:before,
.mask:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.mask:before {
    background: #000000c2;
    z-index: 1
}

.mask:after {
    background: url(https://tools.mounui.com/static/img/bg.png) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    opacity: .8;
    z-index: 2
}

.loader {
    display: none;
    max-width: 88vw;
    min-width: 180px;
    background: #000000a8;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: 32px auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px
}

.loader-line-wrap {
    animation: spin 2s cubic-bezier(.175, .885, .32, 1.275) infinite;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px
}

.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px
}

.loader-line-wrap:nth-child(1) {
    animation-delay: -50ms
}

.loader-line-wrap:nth-child(2) {
    animation-delay: -.1s
}

.loader-line-wrap:nth-child(3) {
    animation-delay: -.15s
}

.loader-line-wrap:nth-child(4) {
    animation-delay: -.2s
}

.loader-line-wrap:nth-child(5) {
    animation-delay: -.25s
}

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: #eb4747;
    height: 90px;
    width: 90px;
    top: 7px
}

.loader-line-wrap:nth-child(2) .loader-line {
    border-color: #ebeb47;
    height: 76px;
    width: 76px;
    top: 14px
}

.loader-line-wrap:nth-child(3) .loader-line {
    border-color: #47eb47;
    height: 62px;
    width: 62px;
    top: 21px
}

.loader-line-wrap:nth-child(4) .loader-line {
    border-color: #47ebeb;
    height: 48px;
    width: 48px;
    top: 28px
}

.loader-line-wrap:nth-child(5) .loader-line {
    border-color: #4747eb;
    height: 34px;
    width: 34px;
    top: 35px
}

@keyframes spin {

    0%,
    15% {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.loadmsg {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 150px 20px 20px
}

@media only screen and (max-width: 768px) {
    .header {
        height: 36px
    }

    section .card-main {
        width: 95%;
        margin: 0 auto;
        padding: 1rem
    }

    .card-head .card-head-title {
        font-size: 18px
    }

    .wenku-container {
        margin: 3vh auto 1vh
    }

    .wenku-container .input input {
        display: none
    }

    .wenku-container .input button {
        width: 100%;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        margin-top: 5vh
    }

    .downline .input-inline,
    .wenku-container .downline .item-title {
        display: none
    }

    .wenku-container .downline {
        text-align: center
    }

    .wenku-container .downbtn {
        float: none;
        background: #49ad49;
        width: 100%;
        font-size: 16px;
        padding: 3px
    }

    .wenku-container .docsinfo {
        margin-top: 36px
    }

    .s-top {
        padding: 25px 0 0
    }

    .wenku-container .docsinfo .item:nth-child(1) {
        display: none
    }

    .verify-item .item-title {
        margin: 0
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        width: 88vw;
        margin: 0 auto;
        padding: 1rem
    }
}

@media only screen and (min-width: 769px) {
    .wenku-container .input textarea {
        display: none
    }
}

.redbag {
    display: none
}

.zfb2024 {
    position: fixed;
    bottom: 50px;
    width: 300px;
    z-index: 99999;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 0 12px 2px #0000001f
}

.zfb2024a {
    left: 10px
}

.zfb2024b {
    right: 10px
}

@media only screen and (min-width: 1280px) and (max-width: 1559px) {
    .zfb2024 {
        width: 200px
    }

    .zfb2024:hover {
        width: 300px
    }
}

@media only screen and (min-width: 780px) and (max-width: 1279px) {
    .zfb2024 {
        width: 100px
    }

    .zfb2024:hover {
        width: 300px
    }
}

@media only screen and (min-width: 481px) and (max-width: 779px) {
    .zfb2024 {
        position: inherit;
        width: 50vw;
        margin: 20px auto 0
    }
}

@media only screen and (max-width: 481px) {
    .zfb2024 {
        position: inherit;
        width: 80vw;
        margin: 20px auto 0
    }
}